/* Main class */
.navbar-mangrove {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background: white;
  color: white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: absolute;
}

@media screen and (max-width: 768px){
  .site-title{
    margin-left: 0;
  }
}

.back-arrow{
  width: 6%;
}
