.mainpage{
  // color: #61554F;
  color: $gray-darker;
  p{
    font-size: 20px;
  }
  .btn-lg{
    padding: 10px 93px;
    border-radius: 8px;
    margin-top: 4em;
  }
  h1{
    font-size: 4em;
  }
  h2{
    font-size: 3em;
  }
}


.screencontent-holder{
  padding: 0em 13em;
}

@media screen and (max-width: 768px){
  .screencontent-holder{
    padding: 0em 2em;
  }
}

#screen1{
  min-height: 28em;
  background: #ED4264; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ED4264 , #FFEDBC); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ED4264 , #FFEDBC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  p{
    font-size: 1.5em;
  }
}

#screen2{
  min-height: 35em;
  background-color: white;
  color: $gray-darker;
}

#screen3{
  background-color: #F2F5F7;
  min-height: 35em;
}

#manifesto{
  text-align: justify;
  margin-top: 5em;
}

