.mainpage{
  // color: #61554F;
  color: $gray-darker;
  p{
    font-size: 20px;
  }
  .btn-lg{
    padding: 10px 93px;
    border-radius: 8px;
    margin-top: 4em;
  }
  h1{
    font-size: 4.6em;
    -webkit-animation: fadein20 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein20 1s; /* Firefox < 16 */
     -ms-animation: fadein20 1s; /* Internet Explorer */
      -o-animation: fadein20 1s; /* Opera < 12.1 */
         animation: fadein20 1s;
  }
  h2{
    font-size: 3em;
  }
}


.screencontent-holder{
  padding: 0em 13em;
}

.responsive-holder{
  padding: 0em 12%;
}

#brandingpossible{
  min-height: 41em;
  background: #FF512F; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #FF512F, #DD2476);
  background: -o-linear-gradient(right, #FF512F, #DD2476);
  background: linear-gradient(to left, #FF512F, #DD2476); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding-top: 23%;
  #tagline{
    padding: 0em 24%;
    p{
      font-size: 1.6em;
      color: $brand-light;
    }
  }
}

#threepoints{
  padding-top: 2em;
  h2{
    font-size: 2.5em;
  }
  img{
    width: 73%;
    border-radius: 50%;
  }
  .onepoint{
    margin-top: 5em;
    .home-text-box{
      padding-right: 3%;
      padding-left: 3%;
      padding-top: 8%;
      padding-bottom: 8%;
      .point-text{
        font-size: 1.2em;
        color: #737373;
      }
      .point-cta{
        padding: 7px 12px;
        border-radius: 7px;
        margin-top: 2em;
      }
    }
  }
  .rightpoint{
    padding-right: 7%;
  }
  .leftpoint{
    padding-left: 7%;
  }
}


// ADJUSTEMENT FOR SMALL SCREENS



@media screen and (max-width: 768px){
  .mainpage{
    h1{
      font-size: 2.6em;
      margin-top: 1em;
    }
    h2{
      font-size: 2em;
    }
  }
  .screencontent-holder{
    padding: 0em 2em;
  }
  .responsive-holder{
    padding: 0em 8%;
  }
  #brandingpossible{
    padding: 48% 10% 6% 10%;
    min-height: 27em;
    #tagline{
      padding: 2em 0%;
      p{
        font-size: 1em;
      }
    }
  }
  #threepoints{
    padding-top: 0em;
    .rightpoint{
      padding-right: 0;
    }
    .leftpoint{
      padding-left: 0;
    }
  }
  #staytuned{
    h2{
      padding-bottom: 1em;
    }
  }
}



