#manifestoscreen{
  min-height: 35em;
  background-color: white;
  color: $gray-darker;
  // h2{
  //   margin-top: 1.5em;
  // }
  p{
    margin: 0 0 30px;
  }
  .boldmangrove{
    font-weight: 600;
  }
  #conclusion{
    margin-top: 3em;
    font-style: italic;
  }
  #manifesto{
  text-align: justify;
  margin-top: 5em;
  }
}

#slideshare{
  background-color: #F2F5F7;
  min-height: 35em;
  #event{
    padding: 4em 11em 0.5em;
    #eventimg{
      vertical-align: middle;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 2%;
    }
    #eventbrite{
      margin-bottom: -2em;
    }
  }
  .btn{
    margin-top: 0;
    padding: 10px 17px;
    border-radius: 8px;
    margin: -2em 0.4em -0.5em;
  }
  h3{
    color: $gray-light;
  }
  #cantattend{
    font-size: 15px;
    color: $gray-lighter;
    padding-top: 0.3em;
    text-decoration: underline;
    cursor: pointer;
  }
  #periscope{
    padding-top: 2em;
    padding-bottom: 2em;
    background: white;
    border-radius: 11px;
    img{
      width: 40px;
    }
    a{
      color: #3B94B5;
      text-decoration: none;
      &:hover{
        color: #38BFF1;
        text-decoration: none;
      }
    }
  }
}


// ADJUSTEMENT FOR SMALL SCREENS


@media screen and (max-width: 1123px){
  #slideshare{
    #event{
      padding: 4em 3em;
    }
  }
}

@media screen and (max-width: 768px){
  #slideshare{
    #event{
      padding: 1.3em;
      #eventbrite{
        iframe{
          height: 440px;
        }
      }
    }
    #periscope{
        margin: 3% 1% -3%;
      }
    #cantattend{
      font-size: 24px;
      margin-top: 19%;
    }
    .btn{
        margin: 0;
        width: 100%;
    }
  }
  #manifestoscreen{
    padding-top: 1em;
    padding-bottom: 3em;
    h2{
      font-size: 34px;
    }
  }
}
