<div class="navbar-mangrove">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <div class="logo-holder">
            <%= image_tag "mangrove_logo_white.png" %>
          </div>
      </div>
    </div>
  </div>
</div>
