<div class="navbar-bpi">
  <div class="container">
    <div class="row">
      <div class="hidden-xs col-xs-0 col-sm-2 col-sm-offset-1">
          <%= image_tag "arrow.png", class: "back-arrow" %>
      </div>
      <div class="col-xs-12 col-sm-8 text-center site-title">
          HUB STARTUP 2016
      </div>

    </div>
  </div>
</div>
