---
title: mangrove
---

<div class="row mainpage">

  <!-- SCREEN 1 -->
  <div class="col-xs-12 text-center padded" id="screen1">
      <h1 class="pullUp">It's possible.</h1>
      <p>
        Our company has no office, no boss, no secrets.<br> We bet on empowerment and trust.
      </p>
  </div>

  <!-- SCREEN 1BIS -->
  <div class="col-xs-12 text-center padded" id="screen1bis">
    <div id="root1" class="hidden-xs"></div>
    <div id="root2" class="hidden-xs"></div>
    <div id="root3" class="hidden-xs"></div>
    <p>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//meetmangrove.us12.list-manage.com/subscribe/post?u=102638a04246423d07cc940f6&amp;id=fe4537fefc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_blank" novalidate>
          <div id="mce-responses">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div class="form-group form-group-lg">
            <input type="email" value="" name="EMAIL" class="form-control input-lg" placeholder="email address" id="mce-EMAIL">
          </div>
          <p>
            <input type="submit" value="Keep me updated" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info">
          </p>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </p>
  </div>

  <!-- SCREEN 2 -->
  <div class="col-xs-12 text-center padded" id="screen2">
    <div class="screencontent-holder">
      <h2>Here's the other way.</h2>
      <div id="manifesto">
        <p>The first story is about connecting the dots.</p>
        <p>
          I dropped out of Reed College after the first 6 months, but then stayed around as a drop-in for another 18 months or so before I really quit. So why did I drop out?
        </p>
        <p>
          It started before I was born. My biological mother was a young, unwed college graduate student, and she decided to put me up for adoption. She felt very strongly that I should be adopted by college graduates, so everything was all set for me to be adopted at birth by a lawyer and his wife. Except that when I popped out they decided at the last minute that they really wanted a girl. So my parents, who were on a waiting list, got a call in the middle of the night asking: "We have an unexpected baby boy; do you want him?" They said: "Of course." My biological mother later found out that my mother had never graduated from college and that my father had never graduated from high school. She refused to sign the final adoption papers. She only relented a few months later when my parents promised that I would someday go to college.
        </p>
        <p>
          And 17 years later I did go to college. But I naively chose a college that was almost as expensive as Stanford, and all of my working-class parents' savings were being spent on my college tuition. After six months, I couldn't see the value in it. I had no idea what I wanted to do with my life and no idea how college was going to help me figure it out. And here I was spending all of the money my parents had saved their entire life. So I decided to drop out and trust that it would all work out OK. It was pretty scary at the time, but looking back it was one of the best decisions I ever made. The minute I dropped out I could stop taking the required classes that didn't interest me, and begin dropping in on the ones that looked interesting.
        </p>
        <p>
          It wasn't all romantic. I didn't have a dorm room, so I slept on the floor in friends' rooms, I returned Coke bottles for the 5¢ deposits to buy food with, and I would walk the 7 miles across town every Sunday night to get one good meal a week at the Hare Krishna temple. I loved it. And much of what I stumbled into by following my curiosity and intuition turned out to be priceless later on. Let me give you one example:
        </p>
        <p>
          Reed College at that time offered perhaps the best calligraphy instruction in the country. Throughout the campus every poster, every label on every drawer, was beautifully hand calligraphed. Because I had dropped out and didn't have to take the normal classes, I decided to take a calligraphy class to learn how to do this. I learned about serif and sans serif typefaces, about varying the amount of space between different letter combinations, about what makes great typography great. It was beautiful, historical, artistically subtle in a way that science can't capture, and I found it fascinating.
        </p>
        <p>
          None of this had even a hope of any practical application in my life. But 10 years later, when we were designing the first Macintosh computer, it all came back to me. And we designed it all into the Mac. It was the first computer with beautiful typography. If I had never dropped in on that single course in college, the Mac would have never had multiple typefaces or proportionally spaced fonts. And since Windows just copied the Mac, it's likely that no personal computer would have them. If I had never dropped out, I would have never dropped in on this calligraphy class, and personal computers might not have the wonderful typography that they do. Of course it was impossible to connect the dots looking forward when I was in college. But it was very, very clear looking backward 10 years later.
        </p>
        <p>
          Again, you can't connect the dots looking forward; you can only connect them looking backward. So you have to trust that the dots will somehow connect in your future. You have to trust in something — your gut, destiny, life, karma, whatever. This approach has never let me down, and it has made all the difference in my life.
        </p>
      </div>
    </div>
  </div>

  <!-- SCREEN 3 -->
  <div class="col-xs-12 text-center padded" id="screen3">
    <div class="responsive-holder">
      <h2 class="section-heading">Love what you just read?</h2>
      <h3>Join us in celebrating the launch of Mangrove</h3>
      <div class="row" id="event">
          <div id="eventimg">
            <%= image_tag "event1.png", id: "eventimg" %>
          </div>
          <div style="width:100%; text-align:left;" id="eventbrite" ><iframe  src="//eventbrite.com/tickets-external?eid=22167611924&ref=etckt" frameborder="0" height="260" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe></div>
          <a><p id="cantattend">Can't attend?</p></a>
          <div class="hidden slideDown" id="periscope">
            <p><%= image_tag "periscope.png" %></p>
            <p>Watch it live on Periscope!</p>
            <p>Be sure to follow <a href="https://twitter.com/meetmangrove" id:"twitterhandle">@meetmangrove</a>. :)</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SCREEN 4 -->
  <div class="col-xs-12 text-center padded" id="screen4">
    <div class="screencontent-holder">
      <h2 class="section-heading">Stay tuned to the tropics</h2>
      <p>
        <div id="mc_embed_signup">
          <form action="//meetmangrove.us12.list-manage.com/subscribe/post?u=102638a04246423d07cc940f6&amp;id=fe4537fefc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_blank" novalidate>
            <div id="mce-responses">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div class="form-group form-group-lg">
              <input type="email" value="" name="EMAIL" class="form-control input-lg" placeholder="email address" id="mce-EMAIL">
            </div>
              <input type="submit" value="I'm in!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info">
          </form>
        </div>
      </p>
      <p id="disclaimer">We will respect your privacy.</p>
      <div class="socialmedia">
        <i class="fa fa-twitter"></i>
        <%= image_tag "snapchat.png" %>
        <i class="fa fa-facebook-official"></i>
      </div>
    </div>
  </div>


<!-- typeform script -->

<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
</script>
