---
title: Postuler au HUB40
---

<div class="row mainpage">

  <!-- SCREEN 1 -->
  <div class="col-xs-12 text-center padded" id="screen1">
      <h1>HUB40</h1>
      <p>Une communauté de 40 entrepreneurs,<br>
          rassemblés pour scaler.
      </p>
      <p>
        <a class="typeform-share link" href="https://maxbraud.typeform.com/to/t5ET6n" data-mode="2" target="_blank">
          <button type="button" class="btn btn-lg btn-danger">Postuler
          </button>
        </a>
      </p>
  </div>

  <!-- SCREEN 2 -->
  <div class="col-xs-12 text-center padded" id="screen2">
    <div class="screencontent-holder">
      <h2 class="section-heading">votre startup</h2>
      <div class="row" id="startup-trio">
        <div class="col-xs-4">un</div>
        <div class="col-xs-4">deux</div>
        <div class="col-xs-4">trois</div>
      </div>
    </div>
  </div>

  <!-- SCREEN 3 -->
  <div class="col-xs-12 text-center padded" id="screen3">
    <div class="screencontent-holder">
      <h2 class="section-heading">notre accompagnement</h2>
      <div class="row" id="startup-trio">
        <div class="col-xs-4">un</div>
        <div class="col-xs-4">deux</div>
        <div class="col-xs-4">trois</div>
      </div>
    </div>
  </div>

  <!-- SCREEN 4 -->
  <div class="col-xs-12 text-center padded" id="screen4">
    <div class="screencontent-holder">
      <h2 class="section-heading">envoyez votre candidature</h2>
      <p>
        <a class="typeform-share link" href="https://maxbraud.typeform.com/to/t5ET6n" data-mode="2" target="_blank">
          <button type="button" class="btn btn-lg btn-danger">Postuler
          </button>
        </a>
      </p>
    </div>
  </div>


<!-- typeform script -->

<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
</script>
