---
title: Mangrove - A new way of working is possible
---

<div class="mainpage">

  <!-- BRANDING POSSIBLE -->
  <div class="col-xs-12 text-center padded" id="brandingpossible">
      <h1>It's possible.</h1>
      <div id="tagline">
        <p>
          Mangrove develops a new way of working based on trust and fulfillment.
        </p>
      </div>
  </div>

  <!-- 3 POINTS -->
  <div class="col-xs-12 text-center padded" id="threepoints">
    <div class="onepoint rightpoint row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "adios.jpg" %>
      </div>
      <div class="col-xs-12 col-sm-6 home-text-box">
        <div class="point-title wow fadein20"><h2>A new kind of company</h2></div>
        <div class="point-text wow fadein20">No boss, no office, no hours.  Our community bets on empowerment, transparency and goodwill.</div>
        <% link_to "roots.html" do %>
          <div class="point-cta btn btn-info wow fadein20">Discover how we work</div>
        <% end %>
      </div>
    </div>
    <div class="onepoint leftpoint row">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <%= image_tag "technology.jpg" %>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 home-text-box">
        <div class="point-title wow fadein20"><h2>In technology we trust</h2></div>
        <div class="point-text wow fadein20">We build and grow amazing products<br>for startups and nonprofits.</div>
        <% link_to "mailto:hello@meetmangrove.com" do %>
          <div class="point-cta btn btn-info wow fadein20">Hire us</div>
        <% end %>
      </div>
    </div>
    <div class="onepoint rightpoint row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "thatpower.jpg" %>
      </div>
      <div class="col-xs-12 col-sm-6 home-text-box">
        <div class="point-title wow fadein20"><h2>You have that power too.</h2></div>
        <div class="point-text wow fadein20">Want to work in a new way? <br>We can help.</div>
        <% link_to "#staytuned" do %>
          <div class="point-cta btn btn-info wow fadein20" data-toggle="tooltip" data-placement="bottom" title="coming August 2016">Enroll in our next batch</div>
        <% end %>
      </div>
    </div>
  </div>


<!-- typeform script -->

<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
</script>

<script>
new WOW().init();
</script>
