---
title: Mangrove - Our roots
---

<div class="mainpage">

<!-- MANIFESTO SCREEN -->
  <div class="col-xs-12 text-center padded" id="manifestoscreen">
    <div class="screencontent-holder">
      <h2>Mangrove is a bet</h2>
      <div id="manifesto">

        <p><span class="boldmangrove">Mangrove bets that a new way of working is now possible.</span><br> A way of working that allows us to reconcile our aspiration for individual freedom and the strength of a community united by common values. Work shouldn’t be an experience filled with sacrifice or alienation but it should be a means for personal fulfillment.</p>

        <p><span class="boldmangrove">Mangrove bets on transparency.</span><br> Transparency breeds trust and trust is the foundation of our collaboration. Rather than internal competition, we prefer the exchange of knowledge with constant goodwill. This enables both personal enrichment and collective progress. Transparency makes us more agile and strengthens our community.</p>

        <p><span class="boldmangrove">Mangrove bets on an organization without hierarchy.</span><br> We work at our own pace, in our own way, and wherever we feel best. Our community thrives on the diversity of individual abilities and talents that are able to unfold within it. Such freedom goes hand in hand with our individual responsibility: our work is a commitment to the community and to the rest of society.</p>

        <p><span class="boldmangrove">Mangrove bets on technology as the main organizational lever.</span><br> Scalable technology combined with our values makes us stronger. It allows us to work horizontally in a structured way and to be more effective together while remaining free in our action.</p>

        <p><span class="boldmangrove">Mangrove is an organic and agile structure.</span><br> Mangrove is an ecosystem both open to its environment and anchored with deep roots: we keep evolving but our values never change.</p>
      </div>
    </div>
  </div>

<!-- SLIDESHARE -->
  <div class="col-xs-12 text-center padded" id="slideshare">
    <div class="responsive-holder">
      <h2 class="section-heading">Love what you just read?</h2>
      <h3>Watch the recap of our last event.</h3>
      <div class="row" id="event">
          <div id="eventimg">
            <%= image_tag "event1.png", id: "eventimg" %>
          </div>
          <!-- DESKTOP -->
          <div class="slideshare">
            <iframe src="//fr.slideshare.net/slideshow/embed_code/key/utW7JAAc3Xoc8B" class="hidden-xs" width="595" height="477" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
          </div>
          <!-- MOBILE -->
          <div id="slideshare">
            <iframe src="//fr.slideshare.net/slideshow/embed_code/key/utW7JAAc3Xoc8B" class="visible-xs" width="595" height="263" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
          </div>
      </div>
    </div>
  </div>

</div>
